<a href="https://colab.research.google.com/github/fqhkhwrzm/sanbercode_week1/blob/main/Tugas_Hari_2_Pekan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1       Kimia     33     perempuan   12B
1         2     Geologi     27     laki-laki   12B
2         3       Kimia     75     laki-laki   12D
3         4  Matematika     60     perempuan   12D
4         5     Biologi     69     laki-laki   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here
## 1
df.loc[:, ['nilai', 'kelas']]

## 2
df.iloc[5:11:, 1:3]

    nilai kelas
0      33   12B
1      27   12B
2      75   12D
3      60   12D
4      69   12A
5      80   12C
6      44   12A
7      18   12C
8      74   12D
9      12   12D
10     37   12D
11     96   12A
12     12   12A
13     32   12C
14     52   12B
15     34   12D
16      7   12B
17     90   12A
18     65   12D
19     95   12D

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
## 1
df.loc[df['pelajaran'].isin(['Ekonomi','Fisika'])]
## 2
df.loc[['Kimia', 50],['pelajaran', 'nilai']]

KeyError: ignored

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
df.mean(axis=1)
"""
MAAF SEBELUMNYA MIN, ANE DARI KEMARIN SIANG - PAGI TADI ADA KEPERLUAN KELUARGA, LALU KETIDURAN SAMPAI SEKARANG (10.30) DAN KEBETULAN LAPTOP YANG ANE PAKE INI
MAU DIPAKAI BAPAK ANE BUAT URUSAN KULIAH SEBENTAR ( DARI SEKARANG - NANTI SORE ), MAAF KALAU ANE NANTI BELUM UPDATE TUGAS INI DENGAN YANG SUDAH FINISH MIN,
HEHEHE..., MAAF SEBELUMNYA 
"""

0     17.0
1     14.5
2     39.0
3     32.0
4     37.0
5     43.0
6     25.5
7     13.0
8     41.5
9     11.0
10    24.0
11    54.0
12    12.5
13    23.0
14    33.5
15    25.0
16    12.0
17    54.0
18    42.0
19    57.5
dtype: float64