<a href="https://colab.research.google.com/github/fqhkhwrzm/fqhkhwrzm/blob/main/Tugas_Hari_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
# deklarasi variabel
a = 10
b = 2.5
c = int(a/b)
d = float(a/b)

# menjalankan program
print("var c =",c)
print("var c bertipe",type(c))
print("var d =",d)
print("var d bertipe",type(d))

var c = 4
var c bertipe <class 'int'>
var d = 4.0
var d bertipe <class 'float'>

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
# deklarasi variabel
firstname = "Muhammad"
lastname = "Faqih Khawarizmi"

# menjalankan program
print("Hello sanbercode, saya", firstname, lastname + "!", "saya siap belajar python data science")
# atau bisa dengan cara
print("Hello sanbercode, saya " + firstname + " " + lastname + "! saya siap belajar python data science")

Hello sanbercode, saya Muhammad Faqih Khawarizmi! saya siap belajar python data science
Hello sanbercode, saya Muhammad Faqih Khawarizmi! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999