<a href="https://colab.research.google.com/github/fqhkhwrzm/sanbercode_week1/blob/main/Tugas_Hari_1_Pekan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary
import pandas as pd
dictionary = {"Kopi":[23,53,65,45,54], "Teh":[54,75,32,11,87], "Susu":[55,40,67,58,29]}
df = pd.DataFrame(dictionary)
df

   Kopi  Teh  Susu
0    23   54    55
1    53   75    40
2    65   32    67
3    45   11    58
4    54   87    29

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
df = pd.read_csv("diamonds.csv")
df

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
  + series seperti merupakan gabungan antara list dengan dictionary
- Apa perbedaan dataframe dan series
  + Series adalah suatu objek satu dimensi yang dapat menyimpan berbagai jenis tipe data dan tipe datanya harus seragam
  + DataFrame adalah suatu objek 2 dimensi tempat menyimpan data dengan lebih terstruktur.
- Buatlah suatu data series

Jawab:

In [ ]:
# code here
x_series = pd.Series([10,20,30,40,50])
print(x_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here
## Nilai pertama dari column price =
df['price'].head(1)
## Nilai terakhir dari column color = 
df['color'].tail(1)

53939    D
Name: color, dtype: object

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: Statistika deskriptif merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# code here
## soal pertama
df.describe()
## soal kedua
df['price'].mean()
## soal ketiga
df['depth'].std()
## soal keempat
df['carat'].max()

5.01

Jawab: